@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  min-height: 100%;
  box-sizing: border-box;
  color: #1d1d1d;
  background-color: #efefef;
}

#root {
  max-width: 70ch;
  padding: 0em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 14px;
  font-family: sans-serif;
}

.text-offwhite {
  color: #efefef;
}

.text-xxs {
  font-size: 0.65rem;
  line-height: 0.7rem;
}

.emoji-button {
  font-size: 25px;
  cursor: pointer;
}

.rounded-4xl {
  border-radius: 2rem;
}

.ag-theme-quartz-dark {
  --ag-borders: none;
  --ag-row-border-style: dashed;
  --ag-row-border-width: 2px;
  --ag-row-border-color: rgb(150, 150, 200);
  --ag-odd-row-background-color: rgba(4, 141, 166, 0.6);
  --ag-background-color: rgba(4, 141, 166, 0.3);
  --ag-header-background-color: rgba(4, 141, 166);
  --ag-wrapper-border-radius: 20px
}